<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952711967353-vulf7eo3ofm7q2b0nn42jskmjgh33t57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952711967353-vulf7eo3ofm7q2b0nn42jskmjgh33t57</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>952711967353-h6carinbc2g0kcgfugpiett8e96831c6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDoi9jOSWss93BERqaycM9C9j8cq5G09NI</string>
	<key>GCM_SENDER_ID</key>
	<string>952711967353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tiendev.socialmate.vn</string>
	<key>PROJECT_ID</key>
	<string>carehub-ad1bc</string>
	<key>STORAGE_BUCKET</key>
	<string>carehub-ad1bc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952711967353:ios:deb8c6c9f37fcfe3dfdaa8</string>
	<key>DATABASE_URL</key>
	<string>https://carehub-ad1bc-default-rtdb.firebaseio.com</string>
</dict>
</plist>